.container_menu {
    background: $color-background;
    padding: 40px 18px;
    margin-top: 70px;
}

.cards_menu {
    display: flex;
    flex-direction: column;
    @include media-min("tablet-up"){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include media-min("desktop-up"){
        column-gap: 75px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include media-min("desktop-down"){
        column-gap: 115px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @include media-min("widescreen-up"){
        column-gap: 0px;
        flex-direction: row;
        justify-content: space-around;
    }
}

.card_menu {
    display: flex;
    & img{
        width: 340px;
        height: 170px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
}

.card_restaurant {
    background: white;
    display: flex;
    height: 240px;
    flex-direction: column;
    border-radius: 20px;
    border: 0px solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
    margin: 5px 0px 15px 0;
    position: relative;
    & .new{
        border-radius: 3px;
        background-color: #99E2D0;
        color: #008766;
        padding: 7px 10px;
        font-weight: 500;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.text_menu {
    margin-left: 20px;
    line-height: 10px;
    & h2{
        font-weight: bold;
        font-size: 18px;
    }
   & p{
       margin-top: 0px;
   }
}

.heart {
    position: absolute;
    margin-left: 270px;
    margin-top: 190px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(80, 80, 80);
    &:hover .fas{
        cursor: pointer;
        animation: heart 1500ms ease-out forwards;
    }
}

@keyframes heart {
    0% {
        background: linear-gradient(120deg,$color-primary, $color-secondary);
        -webkit-background-clip: text;
        opacity: 0;
        
    }
    50% {
        background: linear-gradient(240deg,$color-primary, $color-secondary);
        -webkit-background-clip: text;
        opacity: 0.4;
    }
    100% {
        background: linear-gradient(360deg,$color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-stroke-color: transparent;
        color: transparent;
        opacity: 1;
    }
}