$color-primary: (#9356DC);
$color-secondary: (#FF79DA);
$color-tertiary: (#99E2D0);
$color-background: (#f6f6f6);

$gradient: ($color-secondary, $color-primary);

$font-shrik: ('Shrikhand', sans-serif);
$font-roboto: ('Roboto', sans-serif);

$breakpoints: (
    "tablet-up": 768px,
    "desktop-up": 1024px,
    "desktop-midle": 1200px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px,
);