.filters {
   
    & h1{
        font-family: inherit;
        font-size: 1.5em;
        margin-left: 20px;
        @include media-min("desktop-up"){
            display: flex;
            justify-content: center;
        }
    }
    &__btn {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 15px;
        border: none;
        background-color: $color-background;
        border-radius: 20px;
        margin: 25px;
        box-shadow: 0 5px 8px lightgrey;
        cursor: pointer;
        transition: 300ms;
            &:hover {
                background-color: lighten($color-primary, 35);
                background-blend-mode: lighten;
                &:hover .fas{
                    color: $color-primary;
                }
            }
    }
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        position: relative;
        left: -30px;
        margin-top: 15px;
        padding-top: 2px;
        @include media-min("desktop-up"){
            left: -35px;
        }
        @include media-min("desktop-down"){
            left: -35px;
        }
        @include media-min("widescreen-up"){
            left: -25px;
        }
    }
    .fas {
        line-height: 1;
        margin: 15px 20px 0 -15px;
        font-size: 20px;
        color: grey;
    }
    & p {
        font-weight: 600;
    }
    & .filters--desktop{
        @include media-min("desktop-up"){
            display: flex;
            width: 95%;
            flex-direction: row;
            justify-content: space-around;
            
        }
        @include media-min("desktop-down"){
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
        @include media-min("widescreen-up"){
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
           column-gap: 50px;
        }
    }
}