footer {
    background-color: #353535;
    padding: 10px;
    & h1{
        color: #fff;
        font-size: 22px;
        font-weight: 100;
        margin-left: 20px;
        @include media-min("tablet-up"){
            display: flex;
            justify-content: center;
        }
    }
    & h1:hover{
        cursor: pointer;
        background: linear-gradient(360deg,$color-secondary 0%,$color-primary 100%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer_block{
    display: flex;
    @include media-min("tablet-up"){
        justify-content: center;
    }
}

.footer__ul{
    list-style: none;
    padding-left: 0px;
    & li{
        color: #fff;
        line-height: 30px;
        margin-left: 20px;
        font-size: 18px;
    }
    & li:hover{
        background: linear-gradient(120deg,$color-secondary 0%,$color-primary 100%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & i{
        margin-right: 10px;
    }
}