header {
    display: block;
}

.logo img{
    width: 60%;
    margin-top: 10px;
}

.logo a {
    display: flex;
    justify-content: center;
}

/** règles pour les pages menus **/
.logo_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    & i{
        font-size: 25px;
    }
   & img{
       width: 60%;
       margin-top: 10px;
   }
}
.fa-arrow-left:hover {
    background: linear-gradient(120deg,$color-secondary 0%,$color-primary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 1000ms;
}
