.cover {
    width: 100%;
    object-fit: cover;
    @include media-min("tablet-up"){
        height: 200px;
    }
    @include media-min("desktop-up"){
        height: 380px;
    }
    @include media-min("desktop-down"){
        height: 380px;
    }
    @include media-min("widescreen-up"){
        height: 380px;
    }
}

.cover--height {
    width: 100%;
    height: 250px;
    object-fit: cover;
    @include media-min("tablet-up"){
        height: 380px;
    }
    @include media-min("desktop-up"){
        height: 380px;
    }
    @include media-min("desktop-down"){
        height: 380px;
    }
    @include media-min("widescreen-up"){
        height: 380px;
    }
}
section {
    background-color: $color-background;
}
.menu {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 0 1em 2em 1em;
    margin-top: -40px;
    position: relative;
    & .title{
        display: flex;
        align-items: baseline;
    }
    & h2{
        font-family: $font-shrik;
        font-size: 28px;
        font-weight: 100;
        margin-left: 10px;
        margin-right: 30px;
    }
    & h3{
        text-transform: uppercase;
        border-top: 0px;
        border-bottom: 3px solid #98ce98;
        width: 50px;
        font-family: "roboto_light";
    }
}

.heart--menu {
    color: $color-background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(80, 80, 80);
    &:hover {
        cursor: pointer;
        animation: heart 1500ms ease-out forwards;
    }
}

@keyframes heart {
    0% {
        background: linear-gradient(120deg,$color-primary, $color-secondary);
        -webkit-background-clip: text;
        opacity: 0;
        
    }
    50% {
        background: linear-gradient(240deg,$color-primary, $color-secondary);
        -webkit-background-clip: text;
        opacity: 0.4;
    }
    100% {
        background: linear-gradient(360deg,$color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-stroke-color: transparent;
        color: transparent;
        opacity: 1;
    }
}

.first {
    width: 100%;
    & .entries {
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 5px #d5d1d1;
        border-radius: 15px;
        margin: 10px;
        background: white;
        height: 70px;
    }
    & .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "roboto_light";
        font-size: 14px;      
    }
}

.detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.title__menu {
    font-weight: bold;/* mis en place rognage titre début */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 95%; /* mis en place rognage texte fin */
}

.price__menu{
    font-weight: bold;
    
}
.text__menu {
    line-height: 2;/* mis en place rognage texte début */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 90%; /* mis en place rognage texte fin */
}

.second {
    width: 100%;
    & .flat {
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 5px #d5d1d1;
        border-radius: 15px;
        margin: 10px;
        background: white;
        height: 70px;
    }
    & .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "roboto_light";
        font-size: 14px;      
    }
}

.last {
    width: 100%;
    & .desserts {
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 5px #d5d1d1;
        border-radius: 15px;
        margin: 10px;
        background: white;
        height: 70px;
    }
    & .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "roboto_light";
        font-size: 14px;      
    }
}

.order {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    &__btn {
      @include btn-order; /* appel du mixin bouton commander */
        &:hover {
            background-color: lighten($color-primary, 15);
            background-blend-mode: lighten;
            box-shadow: 0px 10px 10px -2px #1d1d1d;
        }
    }
}